{% extends 'base/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content col-md-12 ">
            <div class="jumbotron">
            <h4 class="display-5">Registro de Cursos</h4>
            <hr>
            <form method='POST' role="form">
                {% csrf_token %}
                {% if campo.errors %}
                <ol role="alertdialog">
                    {% for error in campo.errors %}
                    <li role="alert"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
                {% endif %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                    </div>
                </div>

                <p>
                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                </p>
            </form>
            </div>
        </div>
    </div>
</div>
	
{% endblock %}  