{% extends 'base/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="content col-md-12">
			<br><br>
			<div class="btn-group row">
                <a class="btn btn-primary" href="{% url 'nuevo_curso' %}" role="button" id="Agregar_Curso">
                	<i class='fa fa-smile-o'></i> Nuevo Curso</a>
            </div>
            <br><br>
			<div class="row table-responsive-sm">
				<table class="table table-hover table-striped table-sm" contenteditable="false">
	      			<thead>
	      				<tr>
	      					<th>Descripcion</th>
	      					<th></th>
	      					<th></th>
	      				</tr>
	      			</thead>
	      			<tbody>
	      				{% if cursos %}
	      				{% for curso in cursos %}
	      				<tr>
	      					<td>{{ curso.descripcion }}</td>
	      					<td></td>
	      					<td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'editar_curso' curso.id %}" role="button" id="Editar_Curso">
                                    	<i class='fa fa-edit'></i>Editar</a>
                                    <a class="btn btn-danger" href="{% url 'eliminar_curso' curso.id %}" role="button" id="Eliminar_Curso">
                                    	<i class='fa fa-edit'></i>Eliminar</a>
                                </div>
                            </td>
	      				</tr>
	      				{% endfor %}
	      				{% else %}
		      				<tr>
		      					<td colspan="5">
		      					<h3>No hay Registro de Cursos</h3>
		      					</td>
		      				</tr>
						{% endif %}
	      			</tbody>
	      		</table>
      		</div>
		</div>
	</div>
</div>
{% endblock %}