
apps/evaluaciones/__pycache__/urls.cpython-37.pyc
apps/evaluaciones/__pycache__/views.cpython-37.pyc
apps/inicio/__pycache__/urls.cpython-37.pyc
apps/inicio/__pycache__/views.cpython-37.pyc
softcole/__pycache__/urls.cpython-37.pyc
