asgiref==3.2.10
dj-database-url==0.3.0
dj-static==0.0.6
Django==3.0.8
django-toolbelt==0.0.1
gunicorn==19.1.0
Pillow==7.2.0
psycopg2==2.8.5
PyMySQL==0.10.0
pytz==2020.1
simplejson==3.6.0
sqlparse==0.3.1
static3==0.5.1